[Desktop Entry]
Type=Application
Name=Continuity
Comment=Share your clipboard and files, and control your devices, over your local network
Exec=continuityd
Icon=continuity
Terminal=false
Categories=Utility;Network;
